body {
  margin: 0;
  overflow-x: hidden;
}

.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(203, 222, 255);
  height: 100vh;
  width: 100vw;
  padding: 0 20px;
  box-sizing: border-box;
}

.signin-title {
  font-size: 28px;
  padding: 20px;
  margin: 0;
}

.form-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.signin-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formGroup {
  margin-bottom: 15px;
  width: 100%;
}

.signin-label {
  display: block;
  margin-bottom: 5px;
}

.signin-input,
.signin-select {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  background-color: #0056b3;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 600px) {
  .signin-container {
    padding: 0 20px;
  }

  .form-container {
    padding: 15px;
  }

  .signin-title {
    font-size: 24px;
    padding: 15px;
  }
}
