.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(203, 222, 255);
  min-height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
}

.signup-title {
  font-size: 28px;
  padding: 20px;
  margin: 0;
  text-align: center;
  color: #333;
}

.signup-form-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup-formGroup {
  margin-bottom: 15px;
  width: 100%;
}

.signup-label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.signup-input,
.signup-select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
}

.signup-input:focus,
.signup-select:focus {
  border-color: #007bff;
  outline: none;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.buttons .button {
  width: 48%;
}

@media (max-width: 600px) {
  .signup-container {
    padding: 0 20px;
  }

  .signup-form-container {
    padding: 15px;
  }

  .signup-title {
    font-size: 24px;
    padding: 15px;
  }

  .buttons {
    flex-direction: column;
  }

  .buttons .button {
    width: 100%;
    margin-bottom: 10px;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 90%;
}

.modal p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
}

.modal-close-button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.modal-close-button:hover {
  background: #0056b3;
}
