body {
  margin: 0;
  overflow-x: hidden;
  font-family: "DM Serif Text", serif; /* Default for body text */
}

.fullscreen-background {
  background-color: rgb(203, 222, 255);
  min-height: 100vh;
}

.user-tickets-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(203, 222, 255);
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.user-tickets-title {
  font-size: 28px;
  padding: 20px;
  margin: 0;
  text-align: center;
  font-family: "DM Serif Text", serif; /* For the title */
}

.ticket-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.ticket-item {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #fff;
}

.view-details-button,
.go-back-button {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-family: "IBM Plex Sans Condensed", serif; /* For button text */
}

.view-details-button {
  background-color: #007bff;
}

.view-details-button:hover {
  background-color: #0056b3;
}

.go-back-button {
  background-color: #f44336;
}

.go-back-button:hover {
  background-color: #d32f2f;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.pagination-controls button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: "IBM Plex Sans Condensed", serif; /* For pagination button text */
}

.pagination-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-controls span {
  font-weight: bold;
  font-family: "IBM Plex Sans Condensed", serif; /* For pagination span text */
}
